// Importing Bootstrap SCSS file
@use 'bootstrap';

// Fix for https://github.com/FortAwesome/angular-fontawesome/issues/48
@import '~@fortawesome/fontawesome-svg-core/styles';

html,
body {
  height: 100% !important;
  background: bootstrap.$gray-100;
  min-width: 200px;
}

.ng-valid {
  @extend .is-valid;
}

.ng-touched.ng-invalid { // :not(form)
  @extend .is-invalid;
}
