// TODO: Rewrite with SCSS functions

.twitter {
  background-color: #00acee;
  border-color: #00acee;
}

.twitter:hover {
  background-color: #08b2f5;
  border-color: #08b2f5;
}

.facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.facebook:hover {
  background-color: #4966a5;
  border-color: #4966a5;
}

.vk {
  background-color: #4d7198;
  border-color: #4d7198;
}

.vk:hover {
  background-color: #577ea7;
  border-color: #577ea7;
}

.google {
  background-color: #db4a39;
  border-color: #db4a39;
}

.google:hover {
  background-color: #e95343;
  border-color: #e95343;
}

.linkedin {
  background-color: #0e76a8;
  border-color: #0e76a8;
}

.youtube {
  background-color: #c4302b;
  border-color: #c4302b;
}

.github {
  background-color: #171515;
  border-color: #171515;
}

.android {
  background-color: #a4c639;
  border-color: #a4c639;
}

.skype {
  background-color: #00aff0;
  border-color: #00aff0;
}

.dropbox {
  background-color: #3d9ae8;
  border-color: #3d9ae8;
}

.foursquare {
  background-color: #25a0ca;
  border-color: #25a0ca;
}

.apple {
  background-color: #cdcdcd;
  border-color: #cdcdcd;
}

.dribbble {
  background-color: #ea4c89;
  border-color: #ea4c89;
}

.instagram {
  background-color: #3f729b;
  border-color: #3f729b;
}

.pinterest {
  background-color: #c8232c;
  border-color: #c8232c;
}

.stackexchange {
  background-color: #ef8236;
  border-color: #ef8236;
}

.flickr {
  background-color: #ff0084;
  border-color: #ff0084;
}
