<form [formGroup]="taskListForm" (ngSubmit)="onSubmit()">
  <div class="form-group mb-3">
    <ngb-alert
      *ngIf="errors && errors.length > 0"
      class="text-start"
      type="danger"
      (closed)="errors = []">
      <ng-container *ngFor="let error of errors">
        {{ error }}
        <br />
      </ng-container>
    </ngb-alert>
    <fieldset [disabled]="!isReady">
      <div class="form-floating position-relative">
        <input
          formControlName="title"
          type="text"
          class="form-control"
          id="taskListTitle"
          name="title"
          placeholder="New Task List"
          maxlength="256"
          required
          autofocus />
        <label for="taskListTitle">Title</label>
        <div *ngIf="f.title.invalid && (f.title.dirty || f.title.touched)" class="invalid-tooltip">
          <div *ngIf="f.title.errors?.required">Title is required.</div>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="form-group text-center">
    <button
      type="submit"
      class="btn btn-primary btn-block"
      [disabled]="!taskListForm.valid || !isReady">
      <ng-template [ngIf]="isReady" [ngIfElse]="isProcessing">
        <fa-icon icon="save" class="me-1"></fa-icon> Save
      </ng-template>
      <ng-template #isProcessing>
        <fa-icon icon="spinner" [spin]="true" class="me-1"></fa-icon> Loading
      </ng-template>
    </button>
  </div>
</form>
