<div class="bg-light">
  <div class="container py-5">
    <div class="d-flex justify-content-between">
      <a role="button" class="btn btn-secondary mb-3" routerLink="/">
        <fa-icon icon="arrow-left" class="me-1"></fa-icon>
        Back
      </a>
      <button type="button" class="btn btn-primary mb-3" (click)="addWord()">
        <fa-icon icon="plus" class="me-1"></fa-icon>
        Add word
      </button>
    </div>

    <div *ngIf="isReady; else isProcessing" class="row">
      <ng-template [ngIf]="words.length > 0" [ngIfElse]="noData">
        <div *ngFor="let word of words" class="col-sm-6 col-lg-4 mb-4">
          <app-word [word]="word" (onDelete)="onDeleteWord($event)"></app-word>
        </div>
      </ng-template>

      <ng-template #noData>
        <div class="col">
          <div class="card p-4 text-center">Words list is empty</div>
        </div>
      </ng-template>
    </div>

    <ng-template #isProcessing>
      <div class="text-center">
        <fa-icon icon="spinner" size="3x" [spin]="true"></fa-icon>
      </div>
    </ng-template>
  </div>
</div>
